/* FONT */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Tailwind Loading */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #fbfbfb;
  --foreground: #171717;
}

/* If user is in dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
  font-family: "IBM Plex Mono";
}

/* Scroll Bar Styling */
/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrolling) */
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground); /* Dark semi-transparent thumb */
  border-radius: 10px; /* Rounded corners for Apple-like appearance */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
}

.svg_network_line {
  stroke: var(--foreground);
  fill-opacity: 1;
}

.paper {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  border: 1px solid #e0e0e0;
  line-height: 1.6;
  text-align: left;
  height: fit-content;
  margin: auto;
  margin-bottom: 10px;
  /* font-family: Arial, sans-serif; */
}